#navbar{
    background-color: skyblue;
    display: flex;
    flex: end;
    justify-content: right;
    gap: 50px;   
}

#navbar>div{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#navbar>a{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#items{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin: 5%;
    grid-gap: 20px;
} 

#items>div{
    height: 270px;
    width: 270px;
    border: 1px solid black;
    text-align: center;
}

#item_count{
    margin-right: 20px;
}

img{
    width: 100%;
    height: 150px;
}